<footer id='footer' class='footer-bottom'>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-5">
  <%= link_to 'USJ公式サイトへ', 'https://www.usj.co.jp/', target: '_blank' , class: "nav-link" %>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'パーク', main_index_path , class: "nav-link" %>
      </li>
      <li class="nav-item active">
      <%= link_to '周り方', boards_path(tag_name: 'around'), class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'イベント', boards_path(tag_name: 'event'), class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'フード', boards_path(tag_name: 'food'), class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'グッズ', boards_path(tag_name: 'gods'), class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Q&A', boards_path(tag_name: 'question'), class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
</footer>