<header>
  <nav class="navbar navbar-expand-lg navbar-light text-dark bg-dark py-4" id="home">
      <%= link_to 'MagicalUsj', root_path, class: 'navbar-brand h1 text-white' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'お気に入り', likes_boards_path , class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'おすすめ', recommendations_path, method: :post, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'MyPage', profile_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, class: 'nav-link text-white', method: :delete %>
        </li>
      </ul>
    </div>
  </nav>

</header>